.form-content {
    flex: 1.1;
    margin: 0 10px;
}

.ans_text{
    max-height:200px;
    min-height:80px;
    width: 80%;
    padding: 10px;
    font-size: 15px;
    color: #555;
}

.button {
    background-color: #c34e4e;
}

.button:hover{
    background-color: #c17070;
}

h3 {
    color: #555;
}
