.font-weight {
  font-weight: 500;
}
.button {
  width: 180px;
  height: 30px;
  background-color: #4060b2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1.33em;
  margin-bottom: 10px;
}

.button:active {
  background-color: #4060b2;
}

.button:hover{
  background-color: #647ec0;
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #849bd6;
}

.task_intro{
  margin-block: 0;
  font-weight: normal;
  margin: 0.8em 8px;
  font-size: 15px;
  padding-left: 10px;
  color: #35363a;
}

form {
  /* font-size: 1.2em; */
  color: #555;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  /* padding-top: 1.33em; */
  /* align-items: center; */
  /* width: 80%; */
}

#myp {
  position: relative;
  left: 20px;
  color: #4060b2;
}
#_time {
  position: absolute;
  left: 20px;
}

.gap-container {
  margin: 0.5em 0;
}
.gap-container div {
  color: #666;
}

form>.order {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
}


form .order div {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

input[id='inputPercent'] {
  padding: 8px;
  font-size: 0.8em;
  /* width: 65%; */
  margin-left: 12px;
}

input[id='inputLetter'] {
  padding: 8px;
  font-size: 0.8em;
  width: 65%;
  margin-left: 12px;
}

select {
  padding: 8px;
  font-size: 0.8em;
  width: 60%;
  margin-left: 12px;
}



form label {
  margin-right: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  height: auto;
  max-height: 800px;
  overflow-y: scroll;
  border: 1px dotted #4060b2;
}

.svg {
  flex: 2;
  border: 1px dotted #4060b2;
}

canvas {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  display: flex;
  width: 100%;
  height: 600px;
  margin: 0 8px;

}

body {
  /*background-color: #dce2f1;*/
  margin: 0;
}
.hide {
  display: none;
}
